In [76]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np



#add headers 
feature_names = ['age','workclass','fnlwgt','education','education_num','marital_status','occupation','relationship','race','sex','capital_gain','capital_loss','hours_per_week','native_country','50k']

train_df_nan = pd.read_csv('/Users/suzannezhen/Documents/Data Mining /Project/census-income.data.csv .csv', names = feature_names) 
test_df_nan = pd.read_csv('/Users/suzannezhen/Documents/Data Mining /Project/census-income.test.csv .csv', names = feature_names)

In [77]:
print('The total number of instances in train data is', len(train_df_nan), 'with features', len(train_df_nan.columns))
print('The total number of instances in test data is', len(test_df_nan), 'with features', len(test_df_nan.columns))

The total number of instances in train data is 32561 with features 15
The total number of instances in test data is 16281 with features 15

In [78]:
# replace '?' with nan values 
train_df_nan.replace(' ?', np.nan, inplace=True)
test_df_nan.replace(' ?', np.nan, inplace=True)

#replace the label column with '0' and '1', <=50k = 0; >50k = 1
train_df_nan['50k'] = pd.get_dummies(train_df_nan).iloc[:,-1]
test_df_nan['50k'] = pd.get_dummies(test_df_nan).iloc[:,-1]

counts_train = train_df_nan['50k'].value_counts()
counts_test = test_df_nan['50k'].value_counts()

print(counts_train)
print('***less than 50k',round(counts_train[0]/len(train_df_nan['50k']),3), '***More than 50k', round(counts_train[1]/len(train_df_nan['50k']),3))
print(counts_test)
print('***less than 50k',round(counts_test[0]/len(test_df_nan['50k']),3), '***More than 50k', round(counts_test[1]/len(test_df_nan['50k']),3))


#print(train_df_nan.head(50))
#print(test_df_nan.head(50))

0    24720
1     7841
Name: 50k, dtype: int64
***less than 50k 0.759 ***More than 50k 0.241
0    12435
1     3846
Name: 50k, dtype: int64
***less than 50k 0.764 ***More than 50k 0.236

In [79]:
#count instances with nan values
train_df = train_df_nan.dropna()
print(len(train_df_nan) - len(train_df), 'train instances contain missing values')
print(train_df_nan.isnull().sum())

test_df = test_df_nan.dropna()
print(len(test_df_nan) - len(test_df), 'test instances contain missing values')
print(test_df_nan.isnull().sum())

2399 train instances contain missing values
age                  0
workclass         1836
fnlwgt               0
education            0
education_num        0
marital_status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital_gain         0
capital_loss         0
hours_per_week       0
native_country     583
50k                  0
dtype: int64
1221 test instances contain missing values
age                 0
workclass         963
fnlwgt              0
education           0
education_num       0
marital_status      0
occupation        966
relationship        0
race                0
sex                 0
capital_gain        0
capital_loss        0
hours_per_week      0
native_country    274
50k                 0
dtype: int64

In [80]:
train_df_nan.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,50k
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [81]:
train_df_nan['occupation'].value_counts()

 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64

In [82]:
#use mode or KNN to fill missing values (pick two to three methods)

#fillna with mode 

#print(train_df_nan['workclass'].value_counts(dropna=False).head())
#print(train_df_nan['occupation'].value_counts(dropna=False).head())
#print(train_df_nan['native_country'].value_counts(dropna=False).head())

train_df_nan['workclass'].fillna(train_df_nan['workclass'].mode()[0],inplace=True)
train_df_nan['occupation'].fillna(value ='Other-service', inplace=True)      #replace NaN occupation with other services
train_df_nan['native_country'].fillna(train_df_nan['native_country'].mode()[0],inplace=True)

#print('*'*100, train_df_nan.isnull().sum())


#print(test_df_nan['workclass'].value_counts(dropna=False).head())
#print(test_df_nan['occupation'].value_counts(dropna=False).head(10))
#print(test_df_nan['native_country'].value_counts(dropna=False).head())


test_df_nan['workclass'].fillna(test_df_nan['workclass'].mode()[0],inplace=True)
test_df_nan['occupation'].fillna(value ='Other-service', inplace=True)      #replace NaN occupation with other services
test_df_nan['native_country'].fillna(test_df_nan['native_country'].mode()[0],inplace=True)


#print('*'*100, test_df_nan.isnull().sum())

In [83]:
#transform categorical data into numeric data (encoder and one hot encoder)
from sklearn import preprocessing

pd.set_option('display.max_row', 1000)
pd.set_option('display.max_columns', 50)

file = open("dictionary.txt","w")
le = preprocessing.LabelEncoder()

In [84]:
#workclass
workclass = train_df_nan.workclass
#workclassUNI = dataset.workclass.unique()  #check the unique elements under this column
le.fit(workclass)
le_workclass_mapping = dict(zip(le.classes_,le.transform(le.classes_))) #making a dictionery of label and original categorical values
workclass_encoded = le.transform(workclass)
repr(le_workclass_mapping)
file.write( 'dictionary for corresponding numerical labeling of each categorical value  = ' + repr(le_workclass_mapping) + '\n' + "###########################" + '\n')

257

In [85]:
#education
education = train_df_nan.education
#educationUNI = dataset.education.unique()  #check the unique elements under this column
le.fit(education)
le_education_mapping = dict(zip(le.classes_,le.transform(le.classes_))) #making a dictionery of label and original categorical values
education_encoded = le.transform(education)
repr(le_education_mapping)
file.write( 'dictionary for corresponding numerical labeling of each categorical value  = ' + repr(le_education_mapping) + '\n' + "###########################" + '\n')

359

In [86]:
#marital_status
marital_status = train_df_nan.marital_status
#marital_statusUNI = dataset.marital_status.unique()  #check the unique elements under this column
le = preprocessing.LabelEncoder()
le.fit(marital_status)
le_marital_status_mapping = dict(zip(le.classes_,le.transform(le.classes_))) #making a dictionery of label and original categorical values
marital_status_encoded = le.transform(marital_status)
repr(le_marital_status_mapping)
file.write( 'dictionary for corresponding numerical labeling of each categorical value  = ' + repr(le_marital_status_mapping) + '\n' + "###########################" + '\n')

255

In [87]:
#occupation
occupation = train_df_nan.occupation
#occupationUNI = dataset.occupation.unique()  #check the unique elements under this column
le.fit(occupation)
le_occupation_mapping = dict(zip(le.classes_,le.transform(le.classes_))) #making a dictionery of label and original categorical values
occupation_encoded = le.transform(occupation)
repr(le_occupation_mapping)
file.write( 'dictionary for corresponding numerical labeling of each categorical value  = ' + repr(le_occupation_mapping) + '\n' + "###########################" + '\n')

433

In [88]:
#relationship
relationship = train_df_nan.relationship
#relationshipUNI = dataset.relationship.unique()  #check the unique elements under this column
le.fit(relationship)
le_relationship_mapping = dict(zip(le.classes_,le.transform(le.classes_))) #making a dictionery of label and original categorical values
relationship_encoded = le.transform(relationship)
repr(le_relationship_mapping)
file.write( 'dictionary for corresponding numerical labeling of each categorical value  = ' + repr(le_relationship_mapping) + '\n' + "###########################" + '\n')

210

In [89]:
#race
race = train_df_nan.race
#raceUNI = dataset.race.unique()  #check the unique elements under this column
le.fit(race)
le_race_mapping = dict(zip(le.classes_,le.transform(le.classes_))) #making a dictionery of label and original categorical values
race = le.transform(race)
repr(le_race_mapping)
file.write( 'dictionary for corresponding numerical labeling of each categorical value  = ' + repr(le_race_mapping) + '\n' + "###########################" + '\n')

197

In [90]:
#sex
sex = train_df_nan.sex
#sexUNI = dataset.sex.unique()  #check the unique elements under this column
le.fit(sex)
le_sex_mapping = dict(zip(le.classes_,le.transform(le.classes_))) #making a dictionery of label and original categorical values
sex_encoded = le.transform(sex)
repr(le_sex_mapping)
file.write( 'dictionary for corresponding numerical labeling of each categorical value  = ' + repr(le_sex_mapping) + '\n' + "###########################" + '\n')

132

In [35]:
#native_country
native_country = train_df_nan.native_country
#native_countryUNI = dataset.native_country.unique()  #check the unique elements under this column
le.fit(native_country)
le_native_country_mapping = dict(zip(le.classes_,le.transform(le.classes_))) #making a dictionery of label and original categorical values
native_country_encoded = le.transform(native_country)
repr(le_native_country_mapping)
file.write( 'dictionary for corresponding numerical labeling of each categorical value  = ' + repr(le_native_country_mapping) + '\n' + "###########################" + '\n')

799

In [36]:
file.close()

In [43]:
import csv

column_list = [workclass_encoded, education_encoded, marital_status_encoded, occupation_encoded, relationship_encoded, race, sex_encoded, native_country_encoded]

census_list = []

for (workclass_1, education_1, marital_1, occupation_1, relationship_1, race_1, sex_1, native_1) in zip(workclass_encoded, education_encoded, marital_status_encoded, occupation_encoded, relationship_encoded, race, sex_encoded, native_country_encoded):
    census_list.append((workclass_1, education_1, marital_1, occupation_1, relationship_1, race_1, sex_1, native_1))

with open ('encoding.csv','w') as f:
    thewriter = csv.writer(f, delimiter =",")
    thewriter.writerow(('workclass', 'education', 'marital status', 'occupation', 'relationship', 'race', 'sex', 'native country'))
    for row in census_list:
        thewriter.writerow(row)

In [74]:
NEW_df = pd.read_csv('encoding.csv') 
categoric_df = train_df_nan[['age','fnlwgt','education_num','capital_gain','capital_loss','hours_per_week','50k']]
NEW_df =pd.concat([NEW_df, categoric_df], axis=1)
NEW_df = NEW_df.drop('education',axis=1)
NEW_df

,workclass,marital status,occupation,relationship,race,sex,native country,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,50k
0,6,4,0,1,4,1,38,39,77516,13,2174,0,40,0
1,5,2,3,0,4,1,38,50,83311,13,0,0,13,0
2,3,0,5,1,4,1,38,38,215646,9,0,0,40,0
3,3,2,5,0,2,1,38,53,234721,7,0,0,40,0
4,3,2,9,5,2,0,4,28,338409,13,0,0,40,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,3,2,12,5,4,0,38,27,257302,12,0,0,38,0
32557,3,2,6,0,4,1,38,40,154374,9,0,0,40,1
32558,3,6,0,4,4,0,38,58,151910,9,0,0,40,0
32559,3,4,0,3,4,1,38,22,201490,9,0,0,20,0
32560,4,2,3,5,4,0,38,52,287927,9,15024,0,40,1

In [75]:
#handle unbalanced data (boosting and bagging)
#balancing the data

from sklearn.utils import resample

NEW_df['50k'].value_counts()
rich=NEW_df.loc[train_df_nan['50k']==1]
poor=NEW_df.loc[train_df_nan['50k']==0]
NEW_df['50k'].value_counts()
rich_upsample=resample(rich,replace=True,n_samples=len(poor),random_state=27)
balancetrain=pd.concat([rich_upsample,poor],ignore_index=True)
balancetrain['50k'].value_counts()

1    24720
0    24720
Name: 50k, dtype: int64

In [ ]:
#normalization for continuous features

In [ ]:
#algorithms: KNN/Naive Bayes/Random forest